<div class="d-flex flex-column text-center align-items-center">
  <H1 class="mt-4 mb-2">About</H1>
  <H4 class="mb-4">Live Cricket Scores</H4>
  <div>A website for Cricket lovers.</div>
  <br />
  <div>Is there a feature missing or a bug that you've found? Please get in touch via <a
      href="https://github.com/campbellbartlett/live-cricketscores.com">Github</a> and let me know!</div>
  <div>The website is open sourced under the MIT license. All contributions are welcome.</div>
  <br />
  <div class="mb-5">Want to contribute? You can view the Github page <a
      href="https://github.com/campbellbartlett/live-cricketscores.com">here</a>.
  </div>

  <H4>My Details:</H4>
  <div class="row w-25">
    <app-social-icon class="col-3" [iconClass]="'fab fa-linkedin-in'"
      [socialURI]="'https://linkedin.com/in/campbell-w-bartlett'"></app-social-icon>
    <app-social-icon class="col-3" [iconClass]="'fab fa-github'" [socialURI]="'https://github.com/campbellbartlett'">
    </app-social-icon>
    <app-social-icon class="col-3" [iconClass]="'fab fa-github-square'"
      [socialURI]="'https://campbellbartlett.github.io'"></app-social-icon>
    <app-social-icon class="col-3" [iconClass]="'fab fa-dev'" [socialURI]="'https://dev.to/campbellbartlett'">
    </app-social-icon>
  </div>

</div>