<ion-app>
    <ion-menu>
        <ion-header>
            <ion-toolbar color="secondary">
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <ion-list>
                <ion-menu-toggle auto-hide="false">
                    <ion-item button routerLink="/" routerDirection="root">
                        <ion-icon slot="start" name='home'></ion-icon>
                        <ion-label>
                            Live Scores
                        </ion-label>
                    </ion-item>
                    <ion-item button routerLink="/news" routerDirection="forward">
                        <ion-icon slot="start" name='paper'></ion-icon>
                        <ion-label>
                            News
                        </ion-label>
                    </ion-item>
                    <ion-item button routerLink="/about" routerDirection="forward">
                        <ion-icon slot="start" name='quote'></ion-icon>
                        <ion-label>
                            About
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-page class="ion-page" main>
      <app-header></app-header>
        <ion-content padding>
            <ion-router-outlet></ion-router-outlet>
        </ion-content>
    </ion-page>
</ion-app>

<ion-menu-controller></ion-menu-controller>
