@import "../../../../assets/css/variables";
@import "../../../../assets/css/mixins.scss";
@import "../../../../assets/css/global.scss";

.mat-column-name {
    width: 60%;
}

.mat-column-runs {
    width: 8%;
}

.mat-column-6s {
    width: 8%;
}

.mat-column-4s {
    width: 8%;
}

.mat-column-strikeRate {
    width: 8%;
}

.mat-column-balls {
    width: 8%;
}
