<div mat-dialog-title class="card-header text-secondary text-uppercase text-center">
  <h2>{{data.match.homeTeam.shortName}} VS {{data.match.awayTeam.shortName}}</h2>
</div>
<div mat-dialog-content>
  <div *ngIf="scorecard">
    <mat-tab-group mat-align-tabs="center">
      <div *ngFor="let inning of scorecard.innings">
        <mat-tab label="{{inning.name}}">
          <table mat-table [dataSource]="inning.batsmen">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>name</th>
              <td mat-cell *matCellDef="let batsmen">{{batsmen.name}}</td>
            </ng-container>
            <ng-container matColumnDef="runs">
                <th mat-header-cell *matHeaderCellDef>Runs</th>
                <td mat-cell *matCellDef="let batsmen">{{batsmen.runs}}</td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="['name','runs']"></tr>
            <tr mat-row *matRowDef="let batsmen; columns: ['name','runs'];"></tr>
          </table>
        </mat-tab>
      </div>
    </mat-tab-group>
  </div>
</div>