@import "../../../../assets/css/variables.scss";
@import "../../../../assets/css/mixins.scss";
@import "../../../../assets/css/global.scss";
#mainNav {
    height: 4vh;
    @include heading-font;
    align-items: flex-start;
    .mr-10 {
        margin-right: 10em;
    }
}