<nav class="navbar navbar-expand-lg bg-secondary static-top text-uppercase" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Live Cricket Scores</a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button"
      data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link py-3 px-0 px-lg-3 rounded">Live Scores</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a routerLink="about" routerLinkActive="active" class="nav-link py-3 px-0 px-lg-3 rounded ">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>