@import "../../../assets/css/variables.scss";
@import "../../../assets/css/mixins.scss";
@import "../../../assets/css/global.scss";

H1 {
    color: $primary;
}

H4 {
    color: $gray-800;
}

div {
    color: $secondary;
}