<div class="d-flex flex-column text-center align-items-center">
  <H1 class="mt-4 mb-2">About</H1>
  <H4 class="mb-4">Live Cricket Scores</H4>
  <div>This website has been created by Campbell Bartlett as a project to familiarise himself with Angular.</div>
  <div>The website is open sourced under the MIT license and all contributions are welcome.</div>
  <div class="mb-5">You can contribute at GITHUB URL here.</div>
  <div class="row w-25">
    <app-social-icon class="col-3" [iconClass]="'fab fa-linkedin-in'" [socialURI]="'https://linkedin.com/in/campbell-w-bartlett'"></app-social-icon>
    <app-social-icon class="col-3" [iconClass]="'fab fa-github'" [socialURI]="'https://github.com/campbellbartlett'"></app-social-icon>
    <app-social-icon class="col-3" [iconClass]="'fab fa-github-square'" [socialURI]="'https://campbellbartlett.github.io'"></app-social-icon>
    <app-social-icon class="col-3" [iconClass]="'fab fa-dev'" [socialURI]="'https://dev.to/campbellbartlett'"></app-social-icon>
  </div>

</div>