<div class="game-modal mfp-hide" id="game-modal-1">
  <div class="game-modal-dialog bg-white">
    <div class="card h-100 d-flex flex-column justify-content-between">
      <div class="card-header text-secondary text-uppercase text-center">
        <h2>AUS VS IND</h2>
      </div>
      <a class="close-button d-none d-md-block game-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="row">
        <div class="col-12 text-center scroll">
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
          <p>score</p>
        </div>
      </div>
    </div>
  </div>