@import "../../../../assets/css/variables.scss";
@import "../../../../assets/css/mixins.scss";
@import "../../../../assets/css/global.scss";

.active {
    color: $white;
    background: $primary;
    &:active,
    &:focus,
    &:hover {
        color: $white;
        background: $primary;
    }
    li.nav-item {
        a.nav-link {
            color: $white;
            &:hover {
                color: $primary;
            }
            &:active,
            &:focus {
                color: $white;
            }
            &.active {
                color: $primary;
            }
        }
    }
}