<mat-card class="m-3 box-shadow fixed-width">
  <div class="card transition">
    <div *ngIf="match.status === 'LIVE'" class="live-badge pulsate">LIVE</div>
    <img class="image" src="{{match.series.shieldImageUrl}}">
    <mat-card-header class="header">
      <mat-card-title>
        <h2 class="transition">
          <span [style.color]=match.homeTeam.teamColour>{{match.homeTeam.shortName}}
            <span class="font-size-3qtr" *ngIf="match.scores">({{match.scores.homeScore}} off
              {{match.scores.homeOvers}})</span>
          </span>
          <br />
          <span [style.color]=match.awayTeam.teamColour>{{match.awayTeam.shortName}}
            <span class="font-size-3qtr" *ngIf="match.scores">({{match.scores.awayScore}} off
              {{match.scores.awayOvers}})</span>
          </span>
        </h2>
      </mat-card-title>
      <mat-card-subtitle class="font-size-3qtr"><div class="subtitle transition">{{match.startDateTime | matchTime}}, {{match.venue.name}}</div></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="transition content">
        <div>{{match.series.name}}</div>
        <div>{{match.matchSummaryText}}</div>
      </div>
    </mat-card-content>
    <button mat-button class="background-secondary cta transition" (click)="showDialog()">View</button>
  </div>
</mat-card>