@import "../../../../assets/css/variables";
@import "../../../../assets/css/mixins.scss";
@import "../../../../assets/css/global.scss";

.mat-card-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.score-card-header-image img{
    display:inline-block;
    width: 100%;
    height: auto;
}

.background-secondary {
    background-color: $secondary;
}

.text-color-primary {
    color: $primary;
}

.fixed-width {
    min-width: 90vw;
    max-width: 90vw;
}

@media(min-width:992px) {
    .fixed-width {
        min-width: 30vw;
        max-width: 30vw;
    }
}

