<ion-card class="m-3">
  <div class="card transition flex-column">
    <ion-chip *ngIf="match.status === 'LIVE'" color="success" class="live-badge pulse">LIVE</ion-chip>
    <ion-chip *ngIf="match.status === 'COMPLETED'" outline color="secondary">Completed</ion-chip>
    <ion-chip *ngIf="match.status === 'UPCOMING'" outline color="warning">Upcoming</ion-chip>
    <!-- <img class="image" src="{{match.series.shieldImageUrl}}"> -->
    <ion-card-header class="header">
      <ion-card-title>
        <h2 class="transition">
          <span [style.color]=match.homeTeam.teamColour>{{match.homeTeam.shortName}}
            <span class="font-size-3qtr" *ngIf="match.scores">({{match.scores.homeScore}} off
              {{match.scores.homeOvers}})</span>
          </span>
          <br />
          <span [style.color]=match.awayTeam.teamColour>{{match.awayTeam.shortName}}
            <span class="font-size-3qtr" *ngIf="match.scores">({{match.scores.awayScore}} off
              {{match.scores.awayOvers}})</span>
          </span>
        </h2>
      </ion-card-title>
      <ion-card-subtitle class="font-size-3qtr">
        <div class="subtitle transition">{{match.startDateTime | matchTime}}, {{match.venue.name}}</div>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="transition content text-center">
        <div>{{match.series.name}}</div>
        <div>{{match.matchSummaryText}}</div>
      </div>
      <ion-button expand="block" color="dark" shape="round" fill="clear" class="transition" (click)="showScoreCard()">View</ion-button>
    </ion-card-content>
  </div>
</ion-card>
