@import "../../../../assets/css/variables";
@import "../../../../assets/css/mixins.scss";
@import "../../../../assets/css/global.scss";

.card {
    background-color: #fff;
    overflow: hidden;
    border: unset;
    height: fit-content;
}
h2 {
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 8px;
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    width: 100%;
    z-index: 2;
}
.header {
    z-index: 2;
}
p {
    color: rgba(0,0,0,.6);
    font-size: 100%;
    font-weight: normal;
    text-align: center;
    z-index: 2;
}
.subtitle {
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    height: 2em;
}
.content {
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    margin: auto;
    z-index: 2;
    position: relative;
    height: 4em;
}

ion-chip {
    position: absolute;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
