<div class="row pt-4 p-2">
  <div class="col-sm-12 col-md-4 col-sm-offset-1 mb-4">
    <a class="card game-item box-shadow" id="game" href="#game-modal-1">
      <div class="body">
        <h5 class="card-title text-align-center">AUS vs IND</h5>
        <p class="card-text text-align-center">Some quick example text to build on the card title and make up the
          bulk of the card's content.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-4 col-sm-offset-1 mb-4">
    <a class="card game-item box-shadow" id="game" href="#game-modal-1">
      <div class="body">
        <h5 class="card-title text-align-center">AUS vs IND</h5>
        <p class="card-text text-align-center">Some quick example text to build on the card title and make up the
          bulk of the card's content.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-4 col-sm-offset-1 mb-4">
    <a class="card game-item box-shadow" id="game" href="#game-modal-1">
      <div class="body">
        <h5 class="card-title text-align-center">AUS vs IND</h5>
        <p class="card-text text-align-center">Some quick example text to build on the card title and make up the
          bulk of the card's content.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-4 col-sm-offset-1 mb-4">
    <a class="card game-item box-shadow" id="game" href="#game-modal-1">
      <div class="body">
        <h5 class="card-title text-align-center">AUS vs IND</h5>
        <p class="card-text text-align-center">Some quick example text to build on the card title and make up the
          bulk of the card's content.</p>
      </div>
    </a>
  </div>
</div>