<div class="d-flex justify-content-center w-100">
  <table mat-table class="w-100" [dataSource]="inning.bowlers">
    <ng-container matColumnDef="name" sticky>
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let bowler">
        <div>
          {{bowler.name}}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="overs">
      <th mat-header-cell *matHeaderCellDef class="d-md-table-cell">Overs</th>
      <td mat-cell *matCellDef="let bowler" class="d-md-table-cell">{{bowler.overs}}</td>
    </ng-container>
    <ng-container matColumnDef="wickets">
      <th mat-header-cell *matHeaderCellDef>Wickets</th>
      <td mat-cell *matCellDef="let bowler">{{bowler.wickets}}</td>
    </ng-container>
    <ng-container matColumnDef="runs">
      <th mat-header-cell *matHeaderCellDef>Runs</th>
      <td mat-cell *matCellDef="let bowler">{{bowler.runsConceded}}</td>
    </ng-container>
    <ng-container matColumnDef="balls">
      <th mat-header-cell *matHeaderCellDef class="d-md-table-cell">Balls</th>
      <td mat-cell *matCellDef="let bowler" class="d-md-table-cell">{{bowler.balls}}</td>
    </ng-container>
    <ng-container matColumnDef="noBalls">
      <th mat-header-cell *matHeaderCellDef class="d-md-table-cell">No Balls</th>
      <td mat-cell *matCellDef="let bowler" class="d-md-table-cell">{{bowler.noBalls}}</td>
    </ng-container>
    <ng-container matColumnDef="wides">
      <th mat-header-cell *matHeaderCellDef class="d-md-table-cell">Wides</th>
      <td mat-cell *matCellDef="let bowler" class="d-md-table-cell">{{bowler.wides}}</td>
    </ng-container>
    <ng-container matColumnDef="maidens">
      <th mat-header-cell *matHeaderCellDef class="d-md-table-cell pr-1">Maidens</th>
      <td mat-cell *matCellDef="let bowler" class="d-md-table-cell">{{bowler.maidens}}</td>
    </ng-container>
    <ng-container matColumnDef="econRate">
      <th mat-header-cell *matHeaderCellDef>RPO</th>
      <td mat-cell *matCellDef="let bowler">{{bowler.economy}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let bowler; columns: displayedColumns;"></tr>
  </table>
</div>