@import "../../../../assets/css/variables";
@import "../../../../assets/css/mixins.scss";
@import "../../../../assets/css/global.scss";

.mat-column-name {
    width: 20%;
}

.mat-column-overs {
    width: 10%;
}

.mat-column-runs {
    width: 10%;
}

.mat-column-noBalls {
    width: 10%;
}

.mat-column-wides {
    width: 10%;
}

.mat-column-maidens {
    width: 10%;
}

.mat-column-econRate {
    width: 10%;
}