<div *ngIf="match">
  <div mat-dialog-title class="card-header text-uppercase text-center d-flex p-0">
    <h2 class="vs-header">
      <span [style.color]=match.homeTeam.teamColour>{{match.homeTeam.shortName}}</span> VS
      <span [style.color]=match.awayTeam.teamColour>{{match.awayTeam.shortName}}</span>
    </h2>
  </div>
  <div *ngIf="scorecard">
    <mat-tab-group class="height-100-vh" [dynamicHeight]='true' mat-align-tabs="center" [selectedIndex]="selectedTab">
      <div *ngFor="let inning of scorecard.innings">
        <mat-tab label="{{inning.name}}({{inning | runsWicketsDeclared}})">
          <ion-content class="content">
            <div class="w-100 d-flex-c">
              <ion-chip *ngIf="match.status === 'LIVE'" color="success" class="live-badge pulse">LIVE</ion-chip>
              <ion-chip *ngIf="match.status === 'COMPLETED'" outline color="secondary">Completed</ion-chip>
              <ion-chip *ngIf="match.status === 'UPCOMING'" outline color="warning">Upcoming</ion-chip>
            </div>
            <p class="text-center mt-5 mb-0">{{match.matchSummaryText}}</p>
            <div class="">
              <h3 class="text-center mt-5 mb-0">Batting</h3>
              <app-batting-table [inning]=inning></app-batting-table>
            </div>
            <div class="">
              <h3 class="text-center mt-5">Bowling</h3>
              <app-bowling-table [inning]=inning></app-bowling-table>
            </div>
          </ion-content>
        </mat-tab>
      </div>
      <mat-tab label="Commentary">
        <ion-content class="content">
          <app-commentary-container [matchCommentary]="matchCommentary" [live]="live" [switchToTab]='switchToCommentaryTab'></app-commentary-container>
        </ion-content>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div *ngIf="scorecard == null">
    <h5 class="text-center mt-5 mb-0 text-colour-primary">{{match.matchSummaryText}}</h5>
  </div>
</div>
