@import "../../../../assets/css/variables";
@import "../../../../assets/css/mixins.scss";
@import "../../../../assets/css/global.scss";

.width-3em {
  width: 3em;
}

.momentum-scroll {
  overflow-y: auto;
}

.d-flex-c {
  display: flex;
  justify-content: center;
}

.vs-header {
  margin: auto;
  height: fit-content;
}

@media (min-width: 992px) {
  .left-50 {
    left: 50%;
  }
  height: 2em;
}

@media (min-width: 992px) {
  .translate-40-100 {
    transform: translate(-40%, -100%);
  }
  .translate-40-0 {
    transform: translate(-40%, 0%);
  }
}
